<!doctype html>
<html lang="de">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="https://Space-Tactics.com">
                <img src="img/logo.png" class="logo" alt="Space-Tactics Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Nice to meet you {{ username }}!</h1>
            <p class="block">
                Willkommen bei <strong>Space-Tactics</strong>, wir freuen uns, das du dabei bist.
                Dich erwartet bereits dein erster eigener Planet <strong>{{ planetname }}</strong>.
                Außerdem jede Menge anderer Spieler, Ressourcen und natürlich verlockende Flotten.
            </p>
            <p>Also - logge gleich ein, beginne zu bauen und fange an, dein Imperium zu gründen.</p>
            <p>Bei Fragen steht dir unser Team gern per Mail oder Forum zur Verfügung.</p>
            <p></p>
            <p>ShaoKhan</p>
            <p>von Space-Tactics</p>
        </div>
    </div>
</div>
</body>
</html>