{% extends 'base.html.twig' %}
{% block sidebar %}
    <section>
        <header>
            <h2>
                Menu
                {% if app.user.roles.0 == 'ROLE_ADMIN' %}
                    <span class="hint"><a href="{{ path('admin') }}">Admin</a></span>
                {% endif %}
            </h2>
        </header>
        <ul class="link-list">
            <li><a href="{{ path('admin_server') }}">Server</a></li>
            <li><a href="#">Module</a></li>
            <li><a href="{{ path('uni_index') }}">Uni</a></li>
            <li><a href="{{ path('admin_support') }}">Support</a></li>
            <li><a href="#">Erstellen</a></li>
            <li><a href="#">Bans</a></li>
            <li><a href="#">Aktive Spieler</a></li>
            <li><a href="#">Fliegende Spieler</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Nachrichtenliste</a></li>
            <li><a href="#">Globale Nachricht</a></li>
            <li><a href="#">Multis</a></li>
        </ul>
    </section>
{% endblock %}