{% extends 'base.html.twig' %}

{% block title %}Space-Tactics Main{% endblock %}

{% block body %}
    <!-- Main Menu -->
    {% include 'admin/parts/mainmenu.html.twig' %}


    <!-- Content -->
    <section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <!-- Sidebar -->
                    {% if app.user is not null %}
                        {% include 'admin/parts/sidebar.html.twig' %}
                    {% endif %}
                </div>

                <!-- Main Content -->
                <div class="col-lg-10 col-md-12">
                    <section>
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <h3>Server-Konfiguration</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                {% for error in app.flashes('error') %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                {% for success in app.flashes('success') %}
                                    <div class="alert alert-success" role="alert">
                                        {{ success }}
                                    </div>
                                {% endfor %}

                                {% if form is not null %}
                                    {{ form_start(form) }}
                                    {{ form_end(form) }}
                                {% endif %}
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include 'parts/footer.html.twig' %}
{% endblock %}


