{% extends 'base.html.twig' %}

{% block title %}Space-Tactics Main
{% endblock %}

{% block body %}
	<!-- Content -->
	<section id="content" class="main">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-10 col-md-12">
					<section>
						<h1>Installation</h1>

						{% if errors is defined and errors|length > 0 %}
							<div class="error">
								<ul>
									{% for error in errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}

						<form method="POST" action="{{ path('app_install') }}">
							<div class="form-group">
								<label for="uni_name">Universum Name:</label>
								<input type="text" id="uni_name" name="uni_name" required minlength="3" placeholder="Mindestens 3 Zeichen">
							</div>

							<div class="form-group">
								<label for="admin_email">Admin E-Mail:</label>
								<input type="email" id="admin_email" name="admin_email" required placeholder="beispiel@domain.de">
							</div>

							<div class="form-group">
								<label for="admin_username">Admin Benutzername:</label>
								<input type="text" id="admin_username" name="admin_username" required minlength="3" placeholder="Mindestens 3 Zeichen">
							</div>

							<div class="form-group">
								<label for="admin_password">Admin Passwort:</label>
								<input type="password" id="admin_password" name="admin_password" required minlength="3" placeholder="Mindestens 8 Zeichen">
							</div>

							<button type="submit">Installation starten</button>
						</form>
					</section>
				</div>


			</div>
		</div>
	</section>

	{% include 'parts/footer.html.twig' %}
{% endblock %}
