{% extends 'base.html.twig' %}
{% trans_default_domain 'ui' %}
{% block body %}

    <!-- Main Menu -->
    {% if not is_granted('ROLE_USER') %}
        {% include 'parts/mainmenu.html.twig' %}
    {% else %}
        {% include 'parts/ingame_mainmenu.html.twig' %}
    {% endif %}

    <!-- Content -->
    <section id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <!-- Sidebar -->
                    {% include 'parts/sidebar.html.twig' %}
                </div>
                <div class="col-lg-10 col-md-12">
                    {% if not is_granted('ROLE_USER') %}
                        <section>

                            <header>
                                <h2>{{ 'welcome'|trans([], 'ui') }}</h2>
                                <h3>Space-Tactics ist ein Weltraum-Strategiespiel mit hunderten Spielern die
                                    global gleichzeitig versuchen der oder die Beste zu werden. Alles, was ihr zum Spielen braucht,
                                    ist euer Browser.</h3>
                            </header>
                            <p>
                                [100+ Spieler, eigene Scripte, DE/EN] Nachdem die Menschheit die Erde vor Ewigkeiten
                                verlassen und sich auf unterschiedlichsten Planeten niedergelassen hat, war lange Zeit
                                Stille und von kleinen Streitigkeiten abgesehen herrschte auch lange Zeit Frieden. Bis das
                                passierte, was immer passierte. Dem einen gingen die Rohstoffe aus, dem anderen der
                                Platz.
                                Mehr und mehr Planeten steckten Ihre Ressourcen in die Rüstung und begannen Flotten zu
                                bauen für kleine Scharmützel. Bald jedoch waren es riesige Flotten, die unterwegs waren, um sich
                                mit Gewalt zu holen, was ihnen nicht zustand.
                            </p>
                        </section>

                        <section>

                            <div class="row">

                                <div class="col-lg-7 col-md-12">
                                    {% include('parts/login_form.html.twig') %}
                                </div>

                                <div class="col-lg-5 col-md-12">
                                    Noch keinen Account ? Melde dich noch heute <strong>kostenlos</strong> an
                                    und fange noch heute an, dein Imperium aufzubauen, epische Schlachten zu schlagen
                                    oder
                                    große Bündnisse zu schließen.<br/>
                                    <span><a href="{{ path('register') }}" class="btn btn-outline-secondary">Registrieren</a></span>
                                </div>
                            </div>
                        </section>
                    {% else %}
                        <section>
                            <div class="col-12">
                                Du bist jetzt eingeloggt. Willkommen zurück.
                            </div>
                        </section>

                    {% endif %}

                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include 'parts/footer.html.twig' %}

    </div>

{% endblock %}
