#logo{
  img{
    width: auto;
    height: 125px;
    margin: 10px 0;
  }
}

.hint {
  font-size: 0.5em;
}

.planet-switcher-select {
  background: transparent;
  color: #000;
  border: 0;
  font-size: 1.3em;
}

.planetData {
  position: absolute;
  background: rgba(89, 89, 89, 0.5);
  border: 1px solid #FFF;
  color: #FFFFFF;
  width: 500px;
  height: 200px;
  padding: 10px 20px;

  .planet-switcher-select-main {
    background: transparent;
    color: #FFF;
    border: 0;
    font-size: 1.5em;
  }
}

.alert-success, .alert-danger{
  ul{
    margin: 0;
  }
}